.button {
  @include font-set(14px, auto, 700);
  font-family: $primary-font;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  color: $white;
  width: 180px;
  padding: 12px 0;
  word-break: break-all;
  letter-spacing: 5%;
  border: 1px solid $white;
  border-radius: 5px;
}
