.kinds {
  background-color: $grey3;
  padding-top: 150px;
  padding-bottom: 147px;
  width: 100%;

  @media (max-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 0;
    min-height: 899px;
    min-width: auto;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 55px;
  }
}

.kinds__title {
  @include font-set(30px, 30px,600);
  letter-spacing: -0.5%;
  color: $black;
  margin: 0;
  text-align: center;
  margin-bottom: 60px;

  @media (max-width: $tablet-width) {
    @include font-set(24px, 41px,600);
    color: $black2;
    margin-bottom: 30px;
  }
}

.kinds__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;

  @media (max-width: $tablet-width) {
    padding: 0 57px;
  }

  @media (max-width: $mobile-width) {
    gap: 40px;
  }
}

.kinds__image {
  border-radius: 10px;
  margin-bottom: 17px;

  &:hover {
    opacity: 0.7;
  }

  @media (max-width: $tablet-width) {
    width: 270px;
    height: 300px;
  }
}

.kinds__item {
  position: relative;

  &:nth-of-type(1) {
    z-index: 2;

    &::before {
      content: "";
      position: absolute;
      width: 180px;
      height: 180px;
      border-radius: 50%;
      box-sizing: border-box;
      border: 27px solid $green;
      top: 155px;
      left: -60px;
      z-index: -1;

      @media (max-width: $tablet-width) {
        width: 127px;
        height: 127px;
        border: 18px solid $green;
        top: 201px;
        left: -37px;
      }

      @media (max-width: $mobile-width) {
        top: 201px;
        left: -25px;
      }
    }
  }

  &:nth-of-type(2) {
    margin-top: 30px;

    @media (max-width: $tablet-width) {
      margin-top: 0;
    }

    &::before {
      content: "";
      position: absolute;
      width: 47px;
      height: 47px;
      box-sizing: border-box;
      border: 8px solid $green;
      top: -20px;
      left: -20px;

      @media (max-width: $tablet-width) {
        display: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 47px;
      height: 47px;
      box-sizing: border-box;
      border: 8px solid $green;
      bottom: 33px;
      right: -23px;

      @media (max-width: $tablet-width) {
        display: none;
      }
    }
  }

  &:nth-of-type(3) {
    margin-top: -10px;

    @media (max-width: $tablet-width) {
      margin-top: 0;
    }

    &::before {
      content: "";
      position: absolute;
      width: 95px;
      height: 95px;
      border-radius: 50%;
      box-sizing: border-box;
      border: 17px solid $green;
      top: -32px;
      right: -36px;

      @media (max-width: $tablet-width) {
        width: 68px;
        height: 68px;
        border: 13px solid $green;
        top: -21px;
        right: -25px;
      }

      @media (max-width: $mobile-width) {
        top: -20px;
        right: -14px;
      }
    }
  }
}

.kinds__name {
  @include font-set(22px, 34px, 600);
  letter-spacing: -0.5px;
  text-align: center;
  margin: 0;
}
