.main-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 30px;
  width: auto;
  gap: 10vw;
  min-width: 73.5vw;
}

.main-nav__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;

  // margin-left: 18vw;
}

.main-nav__item a {
  @include font-set(16px, auto, 400);
  font-family: $secondary-font;
  color: $white;
  position: relative;
  padding-left: 50px;
}

.main-nav__mail {
  position: relative;
}

.main-nav__phone {
  position: relative;
  margin-left: 3.8vw;
}

.main-nav__phone-icon {
  position: absolute;
  top: 0;
  left: 15px;
}

.main-nav__mailto-icon {
  position: absolute;
  top: 0;
  left: 10px;
}

.main-nav__button {
  margin-left: 2.5vw;
  // padding: 15px;
}
