.page {
  height: 100%;
}

.page-body {
  margin: 0 auto;
  height: 100%;
  position: relative;
}

.page-main {
  flex: 1 0 auto;
}

.page-body__overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.page-container {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/backpromo-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $dark;
    z-index: -1;
    width: 100%;
    height: 878px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backpromo-desktop@2x.png");
    }

    @media (max-width: $tablet-width) {
      background-image: url("../img/backpromo-tablet@1x.png");
      width: 100%;
      height: 686px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/backpromo-tablet@2x.png");
      }
    }

    @media (max-width: $mobile-width) {
      background-image: url("../img/backpromo-mobile@1x.png");
      width: 100%;
      height: 647px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/backpromo-mobile@2x.png");
      }
    }
  }
}
