.page-header {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-bottom: 172px;

  @media (max-width: $tablet-width) {
    margin-bottom: 36px;
  }

  @media (max-width: $mobile-width) {
    // margin-bottom: 150px;
  }
}

.page-header__logo-img {
  width: 202px;
  height: 52px;

  @media (max-width: $mobile-width) {
    width: 32px;
    height: 32px;
  }
}

.page-header__logo {
  cursor: auto;
  pointer-events: none;
}
