.service {
  background-color: $grey2;
}

.service__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.service__list p {
  @include font-set(20px, 30px, 400);

  color: $white;
}
