@mixin font-set($size, $line-height, $weight: null) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin wrapper {
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1920px;

  @media (max-width: $tablet-width) {
    width: auto;
    padding: 0 0;
  }

  @media (max-width: $mobile-width) {
    width: auto;
    padding: 0 0;
  }
}
