// Colors

$white: white;
$white-opacity: rgba(255, 255, 255, 0.2);
$black: black;
$black2: #1f1f1f;
$black3: #131314;
$basic: #fe7865;
$light: #fbf8f8;
$dark: #1c1c1c;
$deep-dark: #141517;
$grey: #c9ccd4;
$green: #0ad9c6;
$grey2: #dadada;
$grey3: #f6f7f9;
$modal: #48494d;
$modal-bg: #f6f6f6;
$modal2: rgba(44, 46, 63, 0.5);
$modal3: rgba(20, 21, 23, 0.2);
$shadow: rgba(41, 54, 66, 0.1);


// Fonts

$primary-font: "Open Sans", "Arial", sans-serif;


// Viewports

$mobile-width: 767px;
$tablet-width: 1023px;
