// Global
@import "global/fonts.scss";
@import "global/variables.scss";
@import "global/mixins.scss";
@import "global/global.scss";


// Blocks

@import "blocks/page.scss";
@import "blocks/page-header.scss";
@import "blocks/page-footer.scss";
@import "blocks/button.scss";
@import "blocks/main-nav.scss";
// @import "blocks/facts.scss";
// @import "blocks/video.scss";
@import "blocks/wrapper.scss";
// @import "blocks/promo.scss";
// @import "blocks/kinds.scss";
